<!--

/* "Bartz" for Layout V4 */

/* https://web.archive.org/web/20240310130126/http://eastfarthing.com/luculent/ */

@font-face {
	font-family: 'LuculentBold';
	src: url('./css/fonts/luculentb.woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'LuculentRegular';
	src: url('./css/fonts/luculent.woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #cfaf6a;
	font-family: 'LuculentRegular', monospace;
	color: #FFFFFF;
	max-width:900px;
	margin: auto;
	font-size: large;
	margin-bottom: 10px;
}

td, .center {
	text-align: center;
}

.index {
	max-width: 551px;
}

a, a:visited {
	color: inherit;
}

.box, .card, nav {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 5px 20px;
}

.box, .card, nav {
	background: #000000;
}

.box-smaller {
	max-width: 700px;
}

table {
	width: 100%;
	padding: 3px;
}

article a, ul a, td a, .bruh {
	text-decoration: underline;
}

pre {
	font-size: small;
	overflow: auto;
}

hr {
	display: none;
}

b, strong {
	color: #1b8d0e;
	font-family: 'LuculentBold', monospace;
}

code {
	color: #a891c5;
}

i, em {
	color: #007ef7;
}

img.big {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* https://orangeable.com/css/animated-gradient-text */

.lesbian {
	background: linear-gradient(-45deg, #D52D00, #EF7627, #FF9A56, #FFFFFF, #D162A4, #B55690, #A30262);
	background-size: 300%;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 8s ease-in-out infinite;
	-moz-animation: animated_text 8s ease-in-out infinite;
	-webkit-animation: animated_text 8s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

/* http://xjfbpuj56rdazx4iolylxplbvyft2onuerjeimlcqwaihp3s6r4xebqd.onion/about-foogallery-video/ */

#player-overlay {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 999;
}

video {
	display: block;
	width: 100%;
	height: 100%;
}

-->
