<!--

/* https://gamebanana.com/skins/149836 */
/* *donkey kong voice* oh these are some pretty cool anarchist theory */
/* *a giant renzo novatore appears* */
/* AAAAAAAAAAAAAAAAAAAAAAAA */

/* "Blue" for Layout V2 */

body {
	background-color: #000000;
	font-size: large;
	margin: auto;
	margin-top:40px;
	font-family: monospace;
	color: #D6EDF5;
	max-width:900px;
	padding:0 10px;
}

table.web {
	border: 1px solid white;
	border-collapse: collapse;
}

table {
	width: 100%;
	padding: 3px;
}

th {
	text-align: left;
}

h1, h2 {
	font-family: monospace;
	color: #4F8699;
}
p {
	font-family: monospace;
	font-size: 120%;
}
li {
	font-family: monospace;
	color: #99CBFF;
	font-size: 120%;
}
blockquote {
	font-size: 100%;
}
a, a:visited {
	font-family: monospace;
	color: #1AB1FF;
	text-decoration: none;
}
b, strong {
	font-family: monospace;
	color: #2F97B5;
}
pre, code {
	color: #85C8E0;
}
i, em, cite {
	font-family: monospace;
	color: #B3ECFF;
}
hr {
	border: 0;
	border-top: 3px dashed;
	color: #068DB9;
}

-->
