<!--

/* "Crow" for Layout V4 */

/* crow.png banner modified from "big crow sitting on tree branch" generated using Craiyon and licensed under the Free Commercial License (https://www.craiyon.com/terms) */

body {
	background-color: #cecece;
	font-family: monospace;
	color: #FFFFFF;
	max-width:900px;
	margin: auto;
	font-size: large;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.index {
	max-width: 670px;
}

a, a:visited {
	color: inherit;
}

.box, .card, nav {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	background: #242424;
	padding: 10px 10px 5px 20px;
}

.box-smaller {
	max-width: 700px;
}

table {
	width: 100%;
	padding: 3px;
}

article a, ul a, td a, .bruh {
	text-decoration: underline;
}

hr {
	display: none;
}

b, strong {
	color: #80ff80;
}

i, em, code {
	color: #ccffcc;
}

img.big {
	width: 100%;
	height: auto;
}

td {
	text-align: center;
}

/* https://www.svgrepo.com/svg/6977/star */
.based {
	list-style: url('./css/star.svg');
}

/* https://orangeable.com/css/animated-gradient-text */

.lesbian {
	background: linear-gradient(-45deg, #D52D00, #EF7627, #FF9A56, #FFFFFF, #D162A4, #B55690, #A30262);
	background-size: 300%;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 8s ease-in-out infinite;
	-moz-animation: animated_text 8s ease-in-out infinite;
	-webkit-animation: animated_text 8s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

-->
