<!--

/* "Jett" for Layout V3 */

@media only screen and (min-width: 900px) {
	body {
		float: right;
		padding-right: 70px;
		min-width: 500px;
		overflow: scroll;
		overflow-x: hidden;
	}
}

body {
	background-image: url("./css/jett.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #000000;
	background-position: top left;
	font-family: monospace;
	color: #FFFFFF;
	max-width:900px;
	margin: auto;
	font-size: large;
	margin-bottom: 10px;
}

.index {
	max-width: 670px;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

.box, .card, nav {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	background: #242424;
	padding: 10px 10px 5px 20px;
}

.box-smaller {
	max-width: 700px;
}

table {
	width: 100%;
	padding: 3px;
}

article a, ul a, td a, .bruh {
	text-decoration: underline;
}

hr {
	display: none;
}

b, strong {
	color: #685b71;
}

i, em, code {
	color: #7daeaa;
}

img.big {
	width: 100%;
	height: auto;
}

td {
	text-align: center;
}

/* https://orangeable.com/css/animated-gradient-text */

.lesbian {
	background: linear-gradient(-45deg, #D52D00, #EF7627, #FF9A56, #FFFFFF, #D162A4, #B55690, #A30262);
	background-size: 300%;
	font-weight: bold;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 8s ease-in-out infinite;
	-moz-animation: animated_text 8s ease-in-out infinite;
	-webkit-animation: animated_text 8s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

-->
