<!--

/* "Melia" for Layout V3 */

@media only screen and (min-width: 900px) {
	body {
		float: right;
		padding-right: 100px;
		min-width: 600px;
		overflow: scroll;
		overflow-x: hidden;
	}
}

body {
	background-image: url("./css/melia.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #000000;
	background-position: top left;
	font-family: monospace;
	color: #FFFFFF;
	max-width:900px;
	margin: auto;
	font-size: large;
	margin-bottom: 10px;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

.box, .card, nav {
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	background: #242424;
	padding: 10px 10px 5px 20px;
}

.box-smaller {
	max-width: 700px;
}

table {
	width: 100%;
	padding: 3px;
}

article a, ul a, td a {
	text-decoration: underline;
}

hr {
	display: none;
}

img.big {
	width: 100%;
	height: auto;
}

td {
	text-align: center;
}

-->
