body {
    background-color: #a3d0b5;
    font-size: large;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	font-family: monospace;
}
.mayvaneday {
	max-width:900px;
	padding:0 10px;
}
h1, h2
{
  font-family: monospace;
  color: #262d14;
}
p {
    font-family: monospace;
    font-size: 120%;
    color: #31402f;
}
center {
    font-family: monospace;
    font-size: 120%;
    color: #31402f;
}
li, blockquote {
    font-family: monospace;
    font-size: 120%;
    color: #31402f;
}
a, a:visited {
  font-family: monospace;
  color: #72a75b;
  text-decoration: none;
}
b, strong {
  font-family: monospace;
  color: green;
}
pre, code {
  color: black;
}
i, em {
  font-family: monospace;
  color: #42872c;
}