body {
	margin: auto;
	margin-top: 14px;
	font-family: monospace !important;
	max-width: 1114px;
}
table {
	margin-left: auto;
	margin-right: auto;
	background-color: #99ccff;
}
table, td {
	max-width: 1114px;
	width: 100%;
}
td {
	border: 1px solid;
}
h1 {
	text-align: center;
}
h1, td {
	padding: 4px;
}
tr {
	display: flex;
}
.snippet {
	width: 100%;
	font-style: italic;
}
.info {
	text-align: center;
}
.f {
	background-color: #ccffcc;
}
.m {
	background-color: #ffb3b3;
}
a {
	text-decoration: none;
	color: inherit;
}
.button {
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}
/* https://enmascript.com/articles/2019/09/26/toggle-content-on-click-without-javascript/ */
#moids {
    display: none;
}
#moids:target {
	display: block;
}
